<div class="outer-div">
    <div class="navbar">
        <div class="link-left">
            <a href="">Logo</a>
            <a href="">Home</a>
        </div>
        <div class="link-right">
            <select name="options" id="dropdown" >
                <option value="" disabled selected hidden>Account</option>
                <option value="edit-profile">Edit Profile</option>
                <option value="transaction">Transaction</option>
                <option value="balance">Balance</option>
                <option value="logout">Logout</option>
            </select>
            <input type="text" placeholder="Search">
        </div>
    </div>
</div>